html {
  background: white;
}

body {
  margin: 0px;
  font-family: "Offside", "Arial";
}

#iosApp {
  width: 400px;
  height: 400px;
  margin-top: 150px;
  /* margin-left: 400px; */
  display: block;
   margin-left: auto;
   margin-right: auto;
}

#white-banner {
  background: white;
  width: 100%;
  margin-top: 0px;
  height: 40px;
}

#section-white {
  background: white;
  width: 100%;
  height: 500px;
  margin-top: 0px;

}

#section-green {
  background: url('wembley.png');
  background-size: 100% 100%;
  width: 100%;
  height: 750px;
  margin-top: 0px;
  background-position: 50% 50%;
  background-size: cover;
}

#iphone-map {
  width: 150px;
  height: 250px;
  position:absolute;
  top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


header {
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 0px !important;
  text-align: center;
  font-size: 48px;
  line-height: 18px;
  height: 18px;
  background: white;
  color: #fff;
  font-family: 'Offside', sans-serif;
  color: rgb(76, 123, 76);

  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header.sticky {
  font-size: 18px;
  line-height: 18px;
  height: 70px;
  background: rgb(76, 123, 76);
  text-align: left;
  padding-left: 20px;
  color: white;
  z-index: 10;
}

header b {
  font-size: 48px;
  color: black;
}

#countdown {
  font-size: 48px;
  text-align: center;
  z-index:15;
  position: absolute;
  width: 100%;
  top: 1150px;
}

#intro-text {
  font-size: 72px;
  text-align: center;
  padding-top: 150px;
  color: white;
  z-index:15;
  position: absolute;
  width: 100%;
}

#ronaldo {
  border-radius: 100%;
}

#map-canvas {
  position: absolute;
  width:100%;
  height:100%;
  z-index:1;
}

#green-overlay{
  width:100%;
  height: 100%;
  position: absolute;
  background: rgb(76, 123, 76);
  opacity: 0.6;
  z-index:1;
}

#contact {
  color: white;
  width:100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  letter-spacing: .1em;
  font-weight: light;
}

#contact a {
  color: white;
  text-decoration: none;
}

#contact a:hover {
  color: black;
}
